@page "/agregarcliente"
@inject IClienteService ClienteService
@inject NavigationManager NavigationManager

<HeaderPage TitlePage="Agregando cliente" />

<EditForm Model="cliente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <InputText id="Nombre" class="form-control" @bind-Value="cliente.Nombre" />
        <label for="Direccion">Dirección</label>
        <InputText id="Direccion" class="form-control" @bind-Value="cliente.Direccion" />
        <label for="Telefonos">Teléfonos</label>
        <InputText id="Telefonos" class="form-control" @bind-Value="cliente.Telefonos" />
        <label for="FechaNacimiento">Fecha de nacimiento</label>
        <InputDate id="FechaNacimiento" class="form-control" @bind-Value="cliente.FechaNacimiento" />
        <label for="Localidad">Localidad</label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-primary mb-2" type="button" @onclick="@(()=>NavigationManager.NavigateTo("/clientes"))">Volver a la lista</button>
    <ValidationSummary />
    </EditForm>

@code {
    private Cliente? cliente;

    protected override void OnInitialized()
    {
        cliente = new Cliente();
    }

    private async void Guardar()
    {
        await ClienteService.AddAsync(cliente);
        NavigationManager.NavigateTo("/clientes");
    }
}