@page "/agregarproducto"
@inject IGenericService<Producto> ProductoService
@inject NavigationManager NavigationManager

<HeaderPage TitlePage="Agregando producto" />

<EditForm Model="producto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <InputText id="Nombre" class="form-control" @bind-Value="producto.Nombre" />
    </div>

    <div class="form-group">
        <label for="Precio">Precio</label>
        <InputNumber id="Precio" class="form-control" @bind-Value="producto.Precio" />
        </div>

    <div class="form-group">
        <label for="Imagen">Imagen</label>
        <InputNumber id="Imagen" class="form-control" @bind-Value="producto.Imagen" />
        <ImageUpload OnUploadFile="ArchivoSubido" />
        <img class="card-img mb-2" src="@producto.Imagen" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-primary mb-2" type="button" @onclick="@(()=>NavigationManager.NavigateTo("/productos"))">Volver a la lista</button>
    <ValidationSummary />
</EditForm>

@code {
    private Producto? producto;

    protected override void OnInitialized()
    {
        producto = new Producto();
    }

    private async void Guardar()
    {
        await ProductoService.AddAsync(producto);
        NavigationManager.NavigateTo("/productos");
    }

    private async Task ArchivoSubido(string url)
    {
        producto.Imagen = url;
    }
}
